* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.navcolor{
    background-color: rgb(53, 64, 80);
    width: 100%;
    height: 80px;  
}
.logotxt{

    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    cursor: pointer;  
}
nav{

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 21px;
   padding-left: 9%;
   padding-right: 9%;
   
}

nav ul li{

    padding: 12px 20px;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;

}

nav ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;

}

nav ul li a:hover{
    color: aquamarine;
    transition: .3s;
}

.b-color{
    width: 100%;
    height: 80vh;
    background-color: rgb(70, 177, 139);
}

.p-color{
    width: 100%;
    height: 98vh;
    background-color: white;
}

.a-color{
    width: 100%;
    height: 75vh;
    background-color: rgb(70, 177, 139);
}

.c-color{

    width: 100%;
    height: 100vh;
    background-color: white;
}    

.aboutush1{
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 20px;
}

.man{
    position: relative;
        padding-top: 90px;
    width: 200px;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h1start{
    text-align: center;
    font-size: 56px;
    color: white;
    letter-spacing: 0px;
    padding-top: 20px;
}

.hrline {
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.hrline2 {
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    border: none;
}
.hrlines{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-left: 41%;
    padding-right:  41%;
}
.staricon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    position: relative;
    top: 23%;
}
.tagline{
    color: white;
    text-align: center;
    padding-top: 2%;
}

.starblack{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35px;
        height: 35px;
        position: relative;
        top: 17%;

}

.h1portfolio{

        text-align: center;
        font-size: 40px;
        color:  rgb(53, 64, 80);
        letter-spacing: 5px;
        padding-top: 30px;
}
.port-hrlines{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 21px;
        padding-left: 41%;
        padding-right: 41%;
}

.port-hrline{

        width: 100px;
        height: 4px;
        border-radius: 10px;
        border: none;
        background-color: rgb(53, 64, 80);
}
.port-hrline2{

        width: 100px;
        height: 4px;
        border-radius: 10px;
        border: none;
        background-color:rgb(53, 64, 80);
    }
    .rectangle1{
        background-color: rgb(162, 77, 98);
        width: 300px;
        height: 200px;
        margin-left: 15%;
        position: relative;
        margin-top: 40px;
        border-radius: 10px;
    }
    .hutimg{
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        position: relative;
        top: 16px;
        border-radius: 65px;
        background-color: burlywood; 
    }
.rectangle2 {
    background-color: rgb(83, 130, 190);
    width: 300px;
    height: 200px;
    margin-left: 15%;
    position: relative;
    margin-top: 25px;
    border-radius: 10px;
}
.hutimg {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    border-radius: 50px;
    border-color: rgb(17, 92, 92);
}
.cake {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 43px;
    border-radius: 65px;
    background-color: palevioletred;
}
.tent {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 42px;
    border-radius: 65px;
    background-color: orange;
}
.game-pad {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
    border-radius: 65px;
    background-color: orange;
}
.safe {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
    border-radius: 65px;
    background-color: burlywood;
}
.marine {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
    border-radius: 65px;
    background-color: burlywood;
}
.rectangle3 {
    background-color: rgb(107, 163, 180);
    width: 300px;
    height: 200px;
    margin-left: 38%;
    position: relative;
    bottom: 430px;
    border-radius: 10px;
}
.rectangle4 {
    background-color: rgb(37 , 68, 176);
    width: 300px;
    height: 200px;
    margin-left: 38%;
    position: relative;
    bottom: 400px;
    border-radius: 10px;
}
.rectangle5 {
    background-color: rgb(70, 177, 139);
    width: 300px;
    height: 200px;
    margin-left: 61%;
    position: relative;
    bottom: 600px;
    border-radius: 10px;
    opacity:30% ;
}
.rectangle6{

    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 200px;
    margin-left: 61%;
    position: relative;
    bottom: 1027px;
    border-radius: 10px;
}
.aboutush1{
letter-spacing: 3px;
 font-size: 40px;
 top: 50%;   
}
.staricon2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    position: relative;
    top: 20%;
}
.ptext{

  color: white;
  font-family: sans-serif;
   position: relative; 
   margin-left: 360px;
  top: 50px;
  letter-spacing: 2px;
}
.ptext2{
color: white;
font-family: sans-serif;
position: relative;
margin-left: 750px;
letter-spacing: 2px;
bottom: 60px;
}
.contact{
    text-align: center;
    color: rgb(53, 64, 80);
    font-size: 35px;
    padding-top: 40px;
}
.cont-hrlines{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 41%;
    padding-right: 41%;
}
.cont-hrline{
    width: 100px;
    height: 4px;
    border-radius: 10px;
    border: none;
    background-color: rgb(53, 64, 80);
}
.cont-hrline2{
    width: 100px;
    height: 4px;
    border-radius: 10px;
    border: none;
    background-color:rgb(53, 64, 80);
}
.button1{
border: 2px solid white; 
padding: 12px 30px;
border-radius: 10px;
background: none;
font-weight: regular;
font-size: 15px;
color: white;
position: relative;
bottom: 180px;
align-items: center;
left: 650px;
}
.starblack2{
bottom: 10px;
display: block;
margin-left: auto;
margin-right: auto;
width: 35px;
height: 35px;
position: relative;
bottom: 3%;
}
.footer{
    background-color: rgb(53, 64, 80);
    width: 100%;
    height: 400px;
    position: relative;  
}
.footericons{
display: flex;
justify-content: center;
padding-top: 155px;
gap: 25px;
}
.copyrightsdiv{
    background-color: rgb(7, 10, 15);
    left: 45%;
    height: 20vh;   
}
.copytext{
color: rgb(255, 255, 255);
font-weight: medium;
font-family: sans-serif;
font-weight: normal;
text-align: center;
font-size: small;
left: 40%;
padding-top: 50px;
}
.location{
color: white;
font-family: sans-serif;
left:20%;
position: absolute;
top: 110px;
}
.address{
color: white;
font-size: medium;
font-family: sans-serif;
position: absolute;
left: 280px;
top: 150px;
line-height: 25px;
}
.web{
    color: white;
    font-family: sans-serif;
    left: 43%;
    position: absolute;
    top: 110px;
}
.free{
    color: white;
    font-family: sans-serif;
   left: 70%;
    position: absolute;
    top: 110px;
}
.MIT{
    color: white;
    font-size: medium;
    font-family: sans-serif;
    position: absolute;
    left: 70%;
    top: 150px;
    line-height: 25px;
}
.span1{
 color:  rgb(70, 177, 139);   
}
.input2{
    border: none;
    background-color: rgb(70, 177, 139);
    color: white;
    padding: 15px 1px;
    margin-left: 360px;
    text-align: center;
    border-radius: 5px;
    width: 65px;
   bottom: 20px;
}
label{
color: grey;
font-size: 20px;
}
input{
    border: none;
    border-bottom: 1px solid grey;
    width: 700px;
}
form{
display: block;
margin-left: 25%;

}
.icons{
flex-direction: row;
display: flex;
margin-right: 42%;
margin-left: 42%;
padding-top :170px;
justify-content: space-around;
}


